<div class="modal fade" id="horeca_window" aria-hidden="true" aria-labelledby="омск_label" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="horeca_label">HORECA</h5>
                  <button class="btn btn-info" data-bs-target="#services" data-bs-toggle="modal" data-bs-dismiss="modal">назад</button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <p class="p-4 rounded" style="background: white;
                    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;">
                                Направление HoReCa К упаковки и проходит несколько стадий преобразований. Дополняем это
                                все
                                мастерством обслуживающего персонала, креативная подача шеф-поваров, уютный дизайн - это
                                всё придает
                                ценность продукту.
                                Одно из направления Хорека представляет собой проведение и организация массовых
                                промоакций и
                                рекламных мероприятий, так как конкуренция возросла за последние 10 лет, то приходиться
                                о себе
                                напоминать, да бы поддерживать свое имя на рынке сбыта. Как показывает практика, для
                                этого
                                изготавливают рекламные конструкции, которые используют для привлечения внимания. Можно
                                разработать
                                рекламные витрины, разложить рекламные печатные материалы на столы, установить лайтбокс
                                на входе
                                заведения. Особенность таких акций HoReCa в том, что проводится акция непосредственно в
                                том месте,
                                где отдыхает клиент (рестораны, клубы, бары</p>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="container">
                                <div class="row">
<!--                                    <div class="col-lg-4 col-md-12"><img class="img-fluid rounded" src="/assets/images/services/promo/horeca.jpg"></div>-->
<!--                                    <div class="col-lg-4 col-md-12"><img class="img-fluid rounded" src="/assets/images/services/promo/horeca_2.jpg"></div>-->
<!--                                    <div class="col-lg-4  col-md-12"><img class="img-fluid rounded" src="/assets/images/services/promo/horeca_3.jpg"></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>