<div id="contactform" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded shadow border-0" >
            <div class="modal-header">
                <img src="/assets/images/logo/icon_48.png" class="l-light" style="margin-right:30px" alt="BTL+">
                <h5 class="modal-title" id="exampleModalCenterTitle">написать нам</h5>
                <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="modal"
                        aria-label="Close"><i class="uil uil-times fs-4"></i></button>
            </div>
            <div class="modal-body">
                <form id='message_form' method="post" name="myForm" onsubmit="return validateForm()" >
                    {% csrf_token %}
                    <p id="error-msg" class="mb-0"></p>
                    <div id="simple-msg"></div>
                    <div class="row">
                        <!-- NAME INPUT -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">Ваше имя <span class="text-danger">*</span></label>
                                <input name="name" id="name" type="text" class="form-control" >
                            </div>

                        </div>
                        <!-- EMAIL INPUT    -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">Ваш электорнный адрес
                                    <span class="text-danger">*
                                    </span>
                                </label>
                                <input name="email" id="email" type="email" class="form-control"
                                       placeholder="company@mail.com">
                            </div>
                        </div><!--end col-->
                        <!-- TELEPHONE INPUT      -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">Ваш телефон
                                    <span class="text-danger">*
                                    </span>
                                </label>
                                <input name="telephone" id="telephone" type="text" class="form-control"
                                       placeholder=" +7 (900) 800 70-60">
                            </div>
                        </div><!--end col-->
                        <!-- SUBJECT INPUT      -->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label fw-normal">тема
                                    <span class="text-danger">*
                                    </span>
                                </label>
                                <input name="subject" id="subject" class="form-control"
                                       placeholder="например : Раздача листовок">
                            </div>
                        </div><!--end col-->
                        <!--  COMMENTS INPUT   -->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label fw-normal">сообщение <span
                                        class="text-danger">*</span></label>
                                <textarea name="comments" id="comments" rows="4" class="form-control"
                                          placeholder="например: Сколько стоит раздача листовок в трех локациях? "></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-grid">
                                <button type="submit" id="submit" name="send" class="btn btn-primary">отправить</button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
                <div id="success_send" class="text-center invisible">
                    <i class="uil uil-envelope-send text-success fs-2"></i>
                    <h4>Успеншно отправлено</h4>
                </div>
            </div>
        </div>
    </div>
</div>