<div id="hh_form" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content rounded shadow border-0" >
            <div class="modal-header">
                <img src="/assets/images/logo/BTL_logo.svg" class="l-light" style="margin-right:30px" alt="BTL+">
                <h4 class="modal-title" id="exampleModalCenterTitle">работа промойтером</h4>
                <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="modal"
                        aria-label="Close">
                  <i class="uil uil-times fs-4"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id='headhunter_form' method="post" name="hhForm" onsubmit="return validateCandidateForm()" >
                    {% csrf_token %}
                    <p id="error-msg" class="mb-0"></p>
                    <div id="simple-msg"></div>
                    <div class="row">
                        <!-- NAME INPUT -->
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label fw-normal">Ваше имя <span class="text-danger">*</span></label>
                                <input name="name" id="name" type="text" class="form-control" >
                            </div>

                        </div>
                        <hr>
                        <!-- EMAIL INPUT    -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">Ваш электорнный адрес
                                    <span class="text-danger">*
                                    </span>
                                </label>
                                <input name="email" id="email" type="email" class="form-control"
                                       placeholder="company@mail.com">
                            </div>
                        </div><!--end col-->
                        <!-- TELEPHONE INPUT      -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">Ваш телефон
                                    <span class="text-danger">*
                                    </span>
                                </label>
                                <input name="telephone" id="telephone" type="text" class="form-control"
                                       placeholder=" +7 (900) 800 70-60">
                            </div>
                        </div><!--end col-->
                        <hr>
                        <!-- position INPUT      -->
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">вакансия
                                    <span class="text-danger">*
                                    </span>
                                </label>

                                <select class="form-control" name="position" id="position">
                                    <option>промоутер</option>
                                    <option>хостес</option>
                                    <option>аниматор</option>
                                    <option>интервьюер</option>
                                </select>
                            </div>
                        </div><!--end col-->
                        <!-- position INPUT      -->

                        <!-- city INPUT      -->
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">город
                                    <span class="text-danger">*
                                    </span>
                                </label>

                                <input type="text" class="form-control" name="city" id="city">
                            </div>
                        </div><!--end col-->
                        <!-- city INPUT      -->

                        <!--  age INPUT   -->
                        <div class="col-6">
                            <div class="mb-3 ">
                                <label class="form-label fw-normal">полных лет
                                </label>
                                <input type="number" name="age" id="age" class="form-control" value="18" min="14" max="55">
                            </div>
                        </div><!--end col-->
                        <!--  age INPUT   -->

                        <!--  sex INPUT   -->
                        <div class="col-6">
                            <div class="mb-3 ">
                                <label class="form-label fw-normal">пол
                                </label>
                                <input type="radio" name="sex"  id="male" value="муж" class="ms-4" >
                                 <label for="male">м</label>
                                <input type="radio" name="sex" value="жен" class="ms-4" id="female">
                                <label for="female">ж</label>
                            </div>
                        </div><!--end col-->
                        <!--  sex INPUT   -->

                        <!--  height INPUT   -->
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">рост, см
                                </label>
                                <input type="number" name="height" id="height" class="form-control" value="160">
                            </div>
                        </div><!--end col-->
                        <!--  height INPUT   -->

                        <!--  weight INPUT   -->
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">вес, кг
                                </label>
                                <input type="number" class="form-control" value="60" name="weight" id="weight" min="40" max="120">
                            </div>
                        </div><!--end col-->
                        <!--  weight INPUT   -->


                        <!--  clothes_size INPUT   -->
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">размер одежды
                                </label>
                                <input type="number" class="form-control" value="48" name="clothes_size" id="clothes_size" min="32" max="60">
                            </div>
                        </div>
                        <!--  clothes_size INPUT   -->

                        <!--  shoes_size INPUT   -->
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label fw-normal">размер обуви
                                </label>
                                <input type="number" class="form-control" value="38" name="shoes_size" id="shoes_size" min="30" max="50">
                            </div>
                        </div>
                        <!--  shoes_size INPUT   -->


                        <!--  experience INPUT   -->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label fw-normal">опыт работы
                                </label>
                                <textarea name="experience" id="experience" rows="4" class="form-control"
                                          placeholder="Есть опыт работы? Опиши вкратце."></textarea>
                            </div>
                        </div>
                        <!--  experience INPUT   -->

                        <!--  preferences INPUT   -->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label fw-normal">пожелания в работе
                                </label>
                                <textarea name="preferences"  id="preferences" rows="4" class="form-control"
                                          placeholder="например: могу работать только на выходных или могу работать только по вечерам."></textarea>
                            </div>
                        </div>
                        <!--  preferences INPUT   -->

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-grid">
                                <button type="submit" id="submit" name="send" class="btn btn-info">отправить</button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
                <div id="hh_success_send" class="text-center invisible">
                    <i class="uil uil-envelope-send text-success" style="font-size: 60px"></i>
                    <h4>Успеншно отправлено</h4>
                </div>
            </div>
        </div>
    </div>
</div>