  <!-- Start -->
        <section class="section mt-5 bg-dark" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <img src="/assets/images/about.jpg" class="rounded shadow img-fluid" alt="">
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="ms-lg-5">
                            <div class="section-title">
                                <h4 class="title mb-3 text-light" >Дарья Азарова</h4>
                                <p class="text-muted">Основатель и руководитель международного маркетингового агентства полного цикла BTL+, которое специализируется на всех видах рекламы.</p>
                                <p class="text-muted mb-0">Более 22 лет опыта работы в рекламе и маркетинге, 15 из них — на руководящей должности. На протяжении 18 лет занимается предпринимательской деятельностью в различных нишах: производство, аренда недвижимости, сфера услуг, организация рекламных проектов в различных городах и странах.</p>
                            </div>
                            <div class="mt-4 pt-2">
                                 <p class="text-muted">Участник конкурса <a href="https://xn--80aebkafpsudb6lvah.xn--p1ai/azarova"><b>"ГЛАВНЫЕ ЖЕНЩИНЫ - 2024"</b></a> в номинации: <b>КОНСАЛТИНГ И ЮРИДИЧЕСКИЕ УСЛУГИ</b></p>
                                <a href="https://xn--80aebkafpsudb6lvah.xn--p1ai/azarova" target="_blank" class="btn btn-warning">Главные женщины.рф</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->