{% load static %}
<section class="section" style="padding:60px 20px;" id="avatar">
    <div class="container" style="max-width: 75%;">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center">
                    <h2 class="title h4 title__h2" style="color: #5a6d90;">
                        Спроси AI-консультанта
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" >
            <div class="col">
                <iframe src="https://embed.liveavatar.com/v1/bfe2a7ef-51b8-451d-a988-3c6147da627f"
                        allow="microphone"
                        title="LiveAvatar Embed"
                        class="custom-iframe rounded img-fluid"
                >
                </iframe>
            </div>
        </div>
    </div>

</section>
