<section  class="swiper-slider-hero position-relative d-block vh-100" id="home" style="background: url(/assets/images/spinner.gif) center center no-repeat">
    <div class="swiper-container" >
        <div class="swiper-wrapper" >
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex  align-items-center"
                     style="background: top center;"

                     data-background="/assets/images/carousel/banner_3.jpg">

                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="display-4 text-white title-dark fw-bold mb-4">
                                        Рекламное агентство BTL+
                                    </h1>
                                    <p class="display-7 para-desc mx-auto text-white-75">
                                        Организация и проведение промо-акций в городах России и  Казахстана
                                    </p>
                                    <div class="mt-4 pt-2">
                                        <a href="#contacts" class="btn btn-warning btn-lg ">закать промо</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center"
                     style="background: center  center; @media (max-width: 475px) {background: 700px 10px;}"
                     data-background="/assets/images/carousel/banner_1.jpg">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h2 class="display-6 text-white title-dark fw-bold mb-4">Промутеры и промо-модели</h2>
                                    <p class="para-desc mx-auto text-white-50">Поиск и обучение промоутеров, подбор хостес, промо-моделей и аниматоров  на мероприятия.  </p>
                                    <div class="mt-4 pt-2">
                                        <a href="#contacts" class="btn btn-warning btn-lg ">подробно</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden" >
                <div class="slide-inner slide-bg-image d-flex align-items-center"
                     style="background-position: center 20px right  50px no-repeat"
                     data-background="/assets/images/carousel/banner_2.jpg">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h2 class="display-6 text-white title-dark fw-bold mb-4">Организация и проведение <br> event-мероприятий</h2>
                                    <p class="para-desc mx-auto text-white-50">Ивент, выставка, корпоратив, открытие магазина, торжество, вечеринка или любое другое мероприятие</p>
                                    <div class="mt-4 pt-2">
                                        <a href="#contacts" class="btn btn-warning btn-lg ">заказать</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center"
                     style="background: center center;"  data-background="/assets/images/carousel/banner_4.jpg">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h2 class="display-6 text-white title-dark fw-bold mb-4">Раздача листовок и семплинг</h2>
                                    <p class="para-desc mx-auto text-white-50">Распространение листовок в местах с высоким трафиком и по почтовым ящикам</p>

                                    <div class="mt-4 pt-2">
                                        <a href="#contacts" class="btn btn-warning btn-lg ">заказать</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center" style="background: top center;"  data-background="/assets/images/carousel/banner_6.jpg">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h2 class="display-6 text-white title-dark fw-bold mb-4">Полиграфия и брендирование</h2>
                                    <p class="para-desc mx-auto text-white-50">Сувенирная продукция<br>нанесение логотипа на одежду, кружки или воздушные шары </p>
                                    <div class="mt-4 pt-2">
                                        <a href="#contacts" class="btn btn-warning  btn-lg">написать нам</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center" style="background: top center;"  data-background="/assets/images/carousel/banner_7.jpg">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h2 class="display-6 text-white title-dark fw-bold mb-4">Мерчандайзинг</h2>
                                    <p class="para-desc mx-auto text-white-50">Визуальный мерчандайзинг и выкладка товаров<br>POS-материалы, лайтбоксы </p>

                                    <div class="mt-4 pt-2">
                                        <a href="#contacts" class="btn btn-warning btn-lg ">написать нам</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner -->
            </div> <!-- end swiper-slide -->
        </div>

        <!-- end swiper-wrapper -->

        <!-- swipper controls -->
<!--         <div class="swiper-pagination"></div>-->
        <div class="swiper-button-next border rounded-circle text-center"></div>
        <div class="swiper-button-prev border rounded-circle text-center"></div>
    </div><!--end container-->
</section><!--end section-->

