<section class="section px-2" id="cases">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
            <div class="section-title text-center mt-2 pb-2">
                <h4 class="title mb-3" style="color:#5A6D90">Наши кейсы
                </h4>
            </div>
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <!-- 1 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_4.webp" class="img-fluid" alt="work-image">
                    <div class="overlay-work bg-dark">Промо-модели на выставке</div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Промо-модели на выставке
                            </span>
                        </h6>
                        <p class="text-light tag mb-0"></p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_4.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <!-- 2 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_11.webp" class="img-fluid" alt="Консультация">
                    <div class="overlay-work bg-dark">Дегустация</div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Дегустация
                            </span>
                        </h6>
                        <p class="text-light tag mb-0"></p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_11.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <!-- 3 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_12.webp" class="img-fluid" alt="Семплинг">
                    <div class="overlay-work bg-dark">Промо-модели</div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Промо-модели
                            </span>
                        </h6>
                        <p class="text-light tag mb-0"></p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_12.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <!-- 4  -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_8.webp" class="img-fluid" alt="Промодели">
                    <div class="overlay-work bg-dark">Дегустация и промо-модели</div>
                    <div class="content">
                        <h6 class="mb-0"><a href="" class="text-white title">Дегустация и промо-модели</a></h6>
                        <p class="text-light tag mb-0"></p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_8.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <!-- 5 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_1.webp" class="img-fluid" alt="work-image">
                    <div class="overlay-work bg-dark">Ростовая кукла</div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Ростовая кукла
                            </span>
                        </h6>
                        <p class="text-light tag mb-0"></p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_1.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <!-- 6 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_6.webp" class="img-fluid" alt="Аниматоры">
                    <div class="overlay-work bg-dark">Аниматоры</div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Аниматоры
                        </span>
                        </h6>
                        <p class="text-light tag mb-0">Организация праздника
                        </p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_6.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <!-- 7 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_7.webp" class="img-fluid" alt="work-image">
                    <div class="overlay-work bg-dark"></div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Аниматоры
                        </span>
                        </h6>
                        <p class="text-light tag mb-0">Раздача воздушных шаров</p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_7.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <!-- 8 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_2.webp" class="img-fluid" alt="Дегустация и промодели">
                    <div class="overlay-work bg-dark"></div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Консультация
                        </span>
                        </h6>
                        <p class="text-light tag mb-0">Консультация</p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_2.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <!-- 9 -->
         <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_9.webp" class="img-fluid" alt="Аниматоры">
                    <div class="overlay-work bg-dark"></div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Ростовая кукла
                        </span>
                        </h6>
                        <p class="text-light tag mb-0">Раздача листовок
                        </p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_9.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <!-- 10 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_10.webp" class="img-fluid" alt="work-image">
                    <div class="overlay-work bg-dark"></div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Тимбилдинг
                        </span>
                        </h6>
                        <p class="text-light tag mb-0">Тимбилдинг</p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_10.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <!-- 11 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_3.webp" class="img-fluid" alt="Дегустация и промодели">
                    <div class="overlay-work bg-dark">Сэмплинг</div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Сэмплинг
                        </span>
                        </h6>
                        <p class="text-light tag mb-0"></p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_3.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <!-- 12 -->
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                <div class="card-body p-0">
                    <img src="/assets/images/ipromouter/project_5.webp" class="img-fluid" alt="Дегустация и промодели">
                    <div class="overlay-work bg-dark">Хостес</div>
                    <div class="content">
                        <h6 class="mb-0">
                            <span class="text-white title">Хостес
                        </span>
                        </h6>
                        <p class="text-light tag mb-0"></p>
                    </div>
                    <div class="icons text-center">
                        <a href="/assets/images/ipromouter/project_5.webp" class="btn btn-icon btn-pills lightbox">
                            <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
</section><!--end section-->
