<section class="section bg-light" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h2 title="Проведение промо акций в городах России и Казахстана"
                        class="modal-title mb-3" style="color:#5A6D90">
                        Проведение промо акций <br> в городах России и Казахстана
                    </h2>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-12 col-md-12 mt-4 pt-2">
                <div class="card blog shadow rounded overflow-hidden border-0">
                    <div class="card-body content p-0">
                        <div class="p-4 text-center">
                            <div class="h5 title text-dark d-block mb-0">
                                {% for city, pop in big_cities.items %}
                                    {% if pop > 1600000 %}
                                    <h6 title="BTL-акция в {{ city }}е. Раздача листовок в г. {{ city }}. Промо акция в г. {{ city }}"
                                        class="d-inline text-secondary fs-2 px-1">
                                        {{ city|upper }}
                                    </h6>
                                    {% elif pop > 1100000 %}
                                    <h6 title="BTL-акция в {{ city }}е. Раздача листовок в г. {{ city }}. Промо акция в г. {{ city }}"
                                        class="d-inline text-secondary fs-3 px-1">
                                        <b>{{ city }}
                                        </b></h6>
                                    {% elif pop > 8000000 %}
                                    <h6 title="BTL-акция в {{ city }}е. Раздача листовок в г. {{ city }}. Промо акция в г. {{ city }}"
                                        class="d-inline text-secondary fs-4 px-1">
                                        {{ city }}
                                    </h6>
                                    {% else %}
                                    <h6 title="BTL-акция в {{ city }}е. Раздача листовок в г. {{ city }}. Промо акция в г. {{ city }}"
                                        class="d-inline text-secondary fs-5 px-1">
                                        {{ city }}
                                    </h6>
                                    {% endif %}
                                {% endfor %}
                                 {% for city, pop in  kz_cities.items %}
                                    {% if pop > 1000000 %}
                                    <h6 title="BTL-акция в {{ city }}е. Раздача листовок в г. {{ city }}. Промо акция в г. {{ city }}"
                                        class="d-inline text-secondary fs-2 px-1">
                                        {{ city|upper }}
                                    </h6>
                                    {% elif pop > 400000 %}
                                    <h6 title="BTL-акция в {{ city }}е. Раздача листовок в г. {{ city }}. Промо акция в г. {{ city }}"
                                        class="d-inline text-secondary fs-4 px-1">
                                        <b>{{ city }}
                                        </b></h6>
                                    {% endif %}
                                {% endfor %}

                            </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    </div>
</section>