{% load static  %}
{% load cache %}


 <!-- Start Contact -->
        <section class="section" id="contacts">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-center mb-1 pb-1">
                            <h4 class="title mb-3">Контакты</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Более подробно о промо мероприятиях и
                                всех BTL-акциях можно узнать, написав нам любым способом.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-2 col-md-6 col-12 order-md-1 order-2 mt-4 pt-2">
                        <div class="me-lg-4 ">
                            <div class="mb-3 col-lg-12 col-md-12 h-100% d-flex justify-content-evenly align-items-center">
                                <a class="zoom-box message" title="написать нам в Viber"
                                   href="viber://chat?number=79095371096">
                                    <img src="/assets/images/messagers/Viber_2.svg" alt="Написать в Viber" width="50">
                                </a>
                            </div>
                            <div class="mb-3 col-lg-12 col-md-12 h-100% d-flex justify-content-evenly align-items-center">
                                <a class="zoom-box message" title="написать нам в Telegram"
                                   href="https://telegram.me/BTLplus">
                                    <img src="/assets/images/messagers/Telegram_2.svg" alt="Написать в Telegram"
                                         width="50">
                                </a>
                            </div>
                            <div class="mb-3 col-lg-12 col-md-12 h-100% d-flex justify-content-evenly align-items-center">
                                <a class="zoom-box message" title="написать нам в Whatsapp"
                                   href="whatsapp://send?phone=79095371096">
                                    <img src="/assets/images/messagers/WhatsApp_2.svg" alt="Написать в Whatsapp"
                                         width="50">
                                </a>
                            </div>
                            <div class="mb-3 col-lg-12 col-md-12 h-100% d-flex justify-content-evenly align-items-center">
                                <a class="zoom-box message" title="написать нам в Instagram"
                                   href="https://instagram.com/dashylinkaa?igshid=ZDdkNTZiNTM=">
                                    <img src="/assets/images/messagers/instagram_2.svg" alt="Написать в Instagram"
                                         width="50">
                                </a>
                            </div>
                            <div class="mb-3 col-lg-12 col-md-12 h-100% d-flex justify-content-evenly align-items-center">
                                <a class="zoom-box message" title="написать нам в VK" href="https://vk.com/btl55omsk">
                                    <img src="/assets/images/messagers/VK_2.svg" alt="Написать в VK" width="50">
                                </a>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-8 col-md-6 order-md-2 order-1 mt-1 pt-2">
                        <div class="p-4 rounded shadow bg-light">
                            <form method="post" name="myForm" onsubmit="return validateForm()">
                                <p class="mb-0" id="error-msg"></p>
                                <div id="simple-msg"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-4">
                                            <input name="name" id="name" type="text" class="form-control" placeholder="Name :">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-4">
                                            <input name="email" id="email" type="email" class="form-control" placeholder="Email :">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-4">
                                            <input name="subject" id="subject" class="form-control" placeholder="Subject :">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-4">
                                            <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Message :"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-end">
                                        <button type="submit" id="submit" name="send" class="btn btn-primary">Send Message</button>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form>
                        </div>
                    </div><!--end col-->

                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Contact -->