<nav>
    <div class="nav nav-tabs nav-pills justify-content-center text-dark sticky-top" id="nav-tab" role="tablist">
        <button class="nav-link active " id="promo-tab" data-bs-toggle="tab" data-bs-target="#promo" type="button"
                role="tab" aria-controls="nav-home" aria-selected="true">Промо акции
        </button>
        <button class="nav-link " id="brochures-tab" data-bs-toggle="tab" data-bs-target="#brochures" type="button"
                role="tab" aria-controls="nav-profile" aria-selected="false">Листовки
        </button>
        <button class="nav-link" id="polygraph-tab" data-bs-toggle="tab" data-bs-target="#polygraph" type="button"
                role="tab" aria-controls="nav-contact" aria-selected="false">Полиграфия
        </button>
        <button class="nav-link" id="adv-equipment-tab" data-bs-toggle="tab" data-bs-target="#adv-equipment" type="button"
                role="tab" aria-controls="nav-contact" aria-selected="false">Рекламные конструкций
        </button>
        <button class="nav-link" id="decor-tab" data-bs-toggle="tab" data-bs-target="#decor" type="button"
                role="tab" aria-controls="nav-contact" aria-selected="false">Праздничное  оформление
        </button>
        <button class="nav-link" id="social-tab" data-bs-toggle="tab" data-bs-target="#social" type="button"
                role="tab" aria-controls="nav-contact" aria-selected="false">Социалистические  исследования
        </button>
         <button class="nav-link" id="hr-tab" data-bs-toggle="tab" data-bs-target="#hr" type="button"
                role="tab" aria-controls="nav-contact" aria-selected="false">Подбор и работа с персоналом
        </button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="promo" role="tabpanel" aria-labelledby="promo-tab" tabindex="0">
        <section class="section">
            <div class="container">
                <div style="background: url('/assets/images/map.png') center center;">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="position-relative me-lg-5">
                                <img src="/assets/images/ipromouter/1.jpg" class="rounded img-fluid mx-auto d-block"
                                     alt="">
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                            <div class="section-title">
                                <h4 class="title mb-3">Промо акции </h4>
                                <ul class="list-unstyled text-muted">
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>
                                        организация праздников, event-мероприятий, выставок, открытий, кооперативов
                                    </li>

                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>HoReCa

                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>промо модели, аниматоры, ростовая кукла

                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>ведущие, диджеи

                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>супервайзер

                                    </li>
                                      <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>дегустации

                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>подарок за покупку

                                    </li>
                                      <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>консультация

                                    </li>
                                     <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>хостесс

                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>тайный покупатель

                                 </ul>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end container-->
        </section><!--end section-->
    </div>
    <div class="tab-pane fade" id="brochures" role="tabpanel" aria-labelledby="brochures-tab" tabindex="0">
        <section class="section">
            <div class="container">
                <div style="background: url('/assets/images/map.png') center center;">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="position-relative me-lg-5">
                                <img src="/assets/images/ipromouter/2.jpg" class="rounded img-fluid mx-auto d-block" alt="">
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                            <div class="section-title">
                                <h4 class="title mb-3">Листовки</h4>
                                <ul class="list-unstyled text-muted">
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>адресное расписание
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>безадресное распределение
                                    </li>
                                 </ul>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
            </div>
            </div><!--end container-->
        </section><!--end section-->>
    </div>
    <div class="tab-pane fade" id="polygraph" role="tabpanel" aria-labelledby="polygraph-tab" tabindex="0">
        <section class="section">
            <div class="container">
                <div style="background: url('/assets/images/map.png') center center;">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="position-relative me-lg-5">
                                <img src="/assets/images/ipromouter/3.jpg" class="rounded img-fluid mx-auto d-block"
                                     alt="">
                                <div class="play-icon">
                                    <a href="#!" data-type="youtube" data-id="blsDbrTlm_4" class="play-btn lightbox">
                                        <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                            <div class="section-title">
                                <h4 class="title mb-3">Полиграфия</h4>
                                <ul class="list-unstyled text-muted">
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span> печать листовок
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span> сувенирная продукция
                                    </li>

                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span> офсетная печать
                                    </li>

                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span> печать на воздушных шарах
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span> POS-материалы
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span> Трейд-маркетинг
                                    </li>
                                </ul>

                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end container-->
        </section><!--end section-->
    </div>
    <div class="tab-pane fade" id="adv-equipment" role="tabpanel" aria-labelledby="adv-equipment-tab" tabindex="0">
        <section class="section">
            <div class="container">
                <div style="background: url('/assets/images/map.png') center center;">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="position-relative me-lg-5">
                                <img src="/assets/images/ipromouter/4.jpg" class="rounded img-fluid mx-auto d-block"
                                     alt="">
                                <div class="play-icon">
                                    <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox">
                                        <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                            <div class="section-title">
                                <h4 class="title mb-3">Монтаж и производство <br> рекламных конструкций и оборудования</h4>

                                <ul class="list-unstyled text-muted">
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>Posm-материалы
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>Лайт боксы
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span>брендирование
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>мерчендайзинг на воздушных шарах
                                    </li>
                                </ul>
                                <div class="d-inline-block">
                                    <div class="pt-3 d-flex align-items-center border-top">
                                        <i class="uil uil-envelope text-primary me-2 fs-1"></i>
                                        <div class="content">
                                            <p class="mb-0">Need More Help?</p>
                                            <a href="" class="text-dark h6">Ask us your question</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end container-->
        </section><!--end section-->
    </div>
    <div class="tab-pane fade" id="decor" role="tabpanel" aria-labelledby="decor-tab" tabindex="0">
        <section class="section">
            <div class="container">
                <div style="background: url('/assets/images/map.png') center center;">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="position-relative me-lg-5">
                                <img src="/assets/images/ipromouter/3.jpg" class="rounded img-fluid mx-auto d-block"
                                     alt="">
                                <div class="play-icon">
                                    <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox">
                                        <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                            <div class="section-title">
                                <h4 class="title mb-3">Праздничное  оформление</h4>
                                <ul class="list-unstyled text-muted">
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span>Фотозоны
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span>печать моментальных фото
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span> тематическое декорирование
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span>световой декор
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span>воздушные шары
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span>гирлянды из воздушных шаров
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2"><i
                                            class="uil uil-check-circle align-middle"></i></span>аренда аппарата сладкой ваты
                                    </li>

                                </ul>

                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end container-->
        </section><!--end section-->
    </div>
    <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab" tabindex="0">
        <section class="section">
            <div class="container">
                <div style="background: url('/assets/images/map.png') center center;">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="position-relative me-lg-5">
                                <img src="/assets/images/ipromouter/4.jpg" class="rounded img-fluid mx-auto d-block"
                                     alt="">
                                <div class="play-icon">
                                    <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox">
                                        <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                            <div class="section-title">
                                <h4 class="title mb-3">Социалистические  исследования</h4>
                                <ul class="list-unstyled text-muted">
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>опрос
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>наблюдение
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>контент анализ
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>фокус группа
                                    </li>

                                </ul>

                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end container-->
        </section><!--end section-->
    </div>
     <div class="tab-pane fade" id="hr" role="tabpanel" aria-labelledby="hr-tab" tabindex="0">
        <section class="section">
            <div class="container">
                <div style="background: url('/assets/images/map.png') center center;">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="position-relative me-lg-5">
                                <img src="/assets/images/ipromouter/4.jpg" class="rounded img-fluid mx-auto d-block"
                                     alt="">
                                <div class="play-icon">
                                    <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox">
                                        <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                            <div class="section-title">
                                <h4 class="title mb-3">Подбор и работа с персоналом</h4>
                                <p>
                                    Открытие нового филиалов, текучка кадров, плановые перестановки?
                                    Подбираем нужных кандидатов, организуем собеседования,
                                    проверяем их профессиональные навыки на соответствие требованиям компании,
                                    а также разрабатываем корпоративные стандарты.
                                </p>
                                <ul class="list-unstyled text-muted">
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>HR поиск
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>отбор
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>обучение
                                    </li>
                                    <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>адаптация
                                    </li>
                                      <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>мотивация
                                    </li>
                                      <li class="mb-1"><span class="text-primary h5 me-2">
                                        <i class="uil uil-check-circle align-middle"></i></span>и обучение  персонала
                                    </li>

                                </ul>

                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end container-->
        </section><!--end section-->
    </div>
</div>