<section class="section" id="advantage">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center mb-4 pb-2">
                            <h3 class="title mb-3">Почему лучше заказать у нас?</h3>
                            <p class="text-muted mx-auto para-desc mb-0">за 2022 год нашими услугами воспользовались 250 клиентов из 45 регионов страны</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-5 pt-4">
                        <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5">
                            <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                                <i class="uil uil-airplay h4 mb-0"></i>
                            </div>
                            <div class="content">
                                <a href="{% url 'app_site:feature' %}" class="title text-dark h4">более 1800 промоутеров</a>
                                <p class="text-muted mt-3"> обширная база промоутеров для разных уровней промо-акций</p>
<!--                                <a href="" class="text-dark title">Read More <i class="uil uil-arrow-right"></i> </a>-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-5 pt-4">
                        <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5">
                            <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                                <i class="uil uil-circle-layer h4 mb-0"></i>
                            </div>
                            <div class="content">
                                <a href="" class="title text-dark h4">67 регион</a>
                                <p class="text-muted mt-3">можно заказть промо-акцию дистанционно в другом регионе</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-5 pt-4">
                        <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5">
                            <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                                <i class="uil uil-fire h4 mb-0"></i>
                            </div>
                            <div class="content">
                                <a href="" class="title text-dark h4">3 уровня контроля </a>
                                <p class="text-muted mt-3">приорите для опытных промоутеров, фотофиксация, "тайный покупатель"</p>
<!--                                <a href="" class="text-dark title">Read More <i class="uil uil-arrow-right"></i> </a>-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-5 pt-4">
                        <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5">
                            <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                                <i class="uil uil-flip-h h4 mb-0"></i>
                            </div>
                            <div class="content">
                                <a href="" class="title text-dark h4">фотоотчет на телефон</a>
                                <p class="text-muted mt-3">Отправим фотоотчет удобный способом (почта, меседжер)</p>
<!--                                <a href="" class="text-dark title">Read More <i class="uil uil-arrow-right"></i> </a>-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-5 pt-4">
                        <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5">
                            <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                                <i class="uil uil-mountains h4 mb-0"></i>
                            </div>
                            <div class="content">
                                <a href="" class="title text-dark h4">плати меньше на 7%</a>
                                <p class="text-muted mt-3">сидки на объем заказа и годовой договор</p>
<!--                                <a href="" class="text-dark title">Read More <i class="uil uil-arrow-right"></i> </a>-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-5 pt-4">
                        <div class="card features feature-primary feature-shadow-md shadow rounded p-4 pt-5">
                            <div class="icon-style mt-n80 position-relative text-center shadow rounded bg-white mb-4">
                                <i class="uil uil-wind h4 mb-0"></i>
                            </div>
                            <div class="content">
                                <a href="" class="title text-dark h4">проект за 3 дня</a>
                                <p class="text-muted mt-3">Листейовки от 2 дней, акции-сэплинг и дегустация от 3 дн </p>
<!--                                <a href="" class="text-dark title">Read More <i class="uil uil-arrow-right"></i> </a>-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->


 </section><!--end section-->