{% load static  %}
{% load cache %}


<footer class="bg-dark" style="padding:60px 15px;">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col">
                <div class="text-center section-title">
                    <h2 class="title h4 text-white mt-2 mb-2">Наши клиенты
                    </h2>
                    <div class="wrapper" style="--t:50s">
                        <div class="item__scroll item__scroll__1"><img style="max-height: 3rem; "
                                                                       src="{% static 'images/client/cast.svg' %}"
                                                                       class="avatar avatar-ex-sm" alt="Castorama">
                        </div>
                        <div class="item__scroll item__scroll__2"><img style="max-height: 3rem;"
                                                                       src="{% static 'images/client/PM.svg' %}"
                                                                       class="avatar avatar-ex-sm" alt="Philip Morris">
                        </div>
                        <div class="item__scroll item__scroll__3"><img style="max-height: 3rem;"
                                                                       src="{% static 'images/client/JTL.svg' %}"
                                                                       class="avatar avatar-ex-sm" alt="Japan Tobacco">
                        </div>
                        <div class="item__scroll item__scroll__4"><img style="max-height: 3rem;"
                                                                       src="{% static 'images/client/svetofor.svg' %}"
                                                                       class="avatar avatar-ex-sm" alt="Светофор"></div>
                        <div class="item__scroll item__scroll__5"><img style="max-height: 3rem;"
                                                                       src="{% static 'images/client/city.svg' %}"
                                                                       class="avatar avatar-ex-sm" alt="ситилинк"></div>
                        <div class="item__scroll item__scroll__6"><img style="max-height: 3rem;"
                                                                       src="{% static 'images/client/deng.svg' %}"
                                                                       class="avatar avatar-ex-sm" alt="Деньга"></div>
                    </div>
                </div>
            </div>
        </div>


        <!--        <div class="row d-flex justify-content-evenly align-item-center">-->
        <!--            <div class="col-12">-->

        <!--                    <div class="row justify-content-center px-1  rounded" style="background-color:#FFF3CD">-->
        <!--                        <div class="col-lg-2 col-md-2 col-6 text-center py-4 " >-->
        <!--                            <img src="{% static 'images/client/cast.svg' %}" class="avatar avatar-ex-sm" alt="Castorama">-->
        <!--                        </div>&lt;!&ndash;end col&ndash;&gt;-->
        <!--                        <div class="col-lg-2 col-md-2 col-6 text-center py-4  " >-->
        <!--                            <img src="{% static 'images/client/PM.svg' %}" class="avatar avatar-ex-sm" alt="Philip Morris">-->
        <!--                        </div>&lt;!&ndash;end col&ndash;&gt;-->
        <!--                        <div class="col-lg-2 col-md-2 col-6 text-center py-4" >-->
        <!--                            <img src="{% static 'images/client/JTL.svg' %}" class="avatar avatar-ex-sm" alt="Japan Tobacco">-->
        <!--                        </div>&lt;!&ndash;end col&ndash;&gt;-->
        <!--                        <div class="col-lg-2 col-md-2 col-6 text-center py-4" >-->
        <!--                            <img src="{% static 'images/client/svetofor.svg' %}" class="avatar avatar-ex-sm" alt="Светофор">-->
        <!--                        </div>&lt;!&ndash;end col&ndash;&gt;-->
        <!--                        <div class="col-lg-2 col-md-2 col-6 text-center py-4" >-->
        <!--                            <img src="{% static 'images/client/city.svg' %}" class="avatar avatar-ex-sm" alt="ситилинк">-->
        <!--                        </div>&lt;!&ndash;end col&ndash;&gt;-->
        <!--                        <div class="col-lg-2 col-md-2 col-6 text-center py-4 " >-->
        <!--                            <img src="{% static 'images/client/deng.svg' %}" class="avatar avatar-ex-sm" alt="Деньга">-->
        <!--                        </div>&lt;!&ndash;end col&ndash;&gt;-->
        <!--                    </div>&lt;!&ndash;end row&ndash;&gt;-->
        <!--            </div>&lt;!&ndash;end col&ndash;&gt;-->
        <!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
    </div><!--end container-->

    <div class="footer-py-4 footer-bar  py-3">
        <div class="container text-center" style="width:100%;max-width: 1024px;">
            <div class="row align-items-start justify-content-lg-evenly  justify-content-md-evenly justify-content-center mb-2 px-0">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="mb-4 text-start">
                        <h5>Услуги BTL-агентства:</h5>
                        <ul class="list-group box-1">
                            <li class="list-group-item"
                                style="border-left:2px solid #FFBF66; background:none; color:#F1F1F1">
                                Организация event-мероприятий
                            </li>
                            <li class="list-group-item"
                                style="border-left:2px solid #FFBF66; background:none; color:#F1F1F1">
                                Промоутеры, хостес, аниматоры
                            </li>
                            <li class="list-group-item"
                                style="border-left:2px solid #FFBF66; background:none; color:#F1F1F1">
                                Комплекс рекламных услуг
                            </li>
                            <li class="list-group-item"
                                style="border-left:2px solid #FFBF66; background:none; color:#F1F1F1">
                                Размещение рекламы на медиафасадах видеоэкранах

                        </ul>
                    </div>
                </div><!--end col-->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="mb-4 text-start">
                        <h5>Мы ищем:</h5>
                        <ul class="list-group  list-group-flush box-1">
                            <li class="list-group-item"
                                style="border-left:2px solid #FFBF66; background:none; color:#F1F1F1">
                                промоутеров
                            </li>
                            <li class="list-group-item"
                                style="border-left:2px solid #FFBF66; background:none; color:#F1F1F1">
                                аниматоров
                            </li>
                            <li class="list-group-item"
                                style="border-left:2px solid #FFBF66; background:none; color:#F1F1F1">
                                диджеев
                            </li>
                            <li class="list-group-item"
                                style="border-left:2px solid #FFBF66; background:none; color:#F1F1F1">
                                фотографов
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-0  col-12">
                    <div class="mb-4 mx-3 text-start ">
                        <h5>Контакты:</h5>
                        <div class="d-grid gap-2">
                            <button class="btn btn-dark "
                                    title="скопировать телефон"
                                    id="copyPhoneBtnFooter"
                                    value="btl-omsk@bk.ru">
                                +7 (909) 537 10-96
                                <!--                                    <i class="uil uil-copy text-light"></i>-->
                                <small class="btn__copy">copy</small>
                            </button>
                            <button class="btn btn-dark"
                                    title="скопировать почту"
                                    id="copyMailBtnFooter"
                                    value="btl-omsk@bk.ru">
                                btl-omsk@bk.ru
                                <!--                                    <i class="uil uil-copy text-light"></i>-->
                                <small class="btn__copy">copy</small>
                            </button>
                            <div class="d-flex justify-content-center">
                                <a class="zoom-box me-2" title="написать в Telegram" href="https://telegram.me/BTLplus">
                                    <img src="{% static 'images/messagers/telegram_mono.svg' %}" width="35"
                                         alt="написать в Telegram">
                                </a>
                                <a class="zoom-box me-2" title="написать в Viber" href="viber://chat?number=79095371096">
                                    <img src="{% static 'images/messagers/viber_mono.svg' %}" width="35"
                                         alt="написать в Viber">
                                </a>
                                <a class="zoom-box me-2" title="написать в Вконтакте" href="https://vk.com/btl55omsk">
                                    <img src="{% static 'images/messagers/vk_mono.svg' %}" width="35"
                                         alt="написать в Вконтакте">
                                </a>
                                <a class="zoom-box me-2" title="написать в Instagram"
                                   href="https://instagram.com/dashylinkaa?igshid=ZDdkNTZiNTM=">
                                    <img src="{% static 'images/messagers/instagram_mono.svg' %}" width="35"
                                         alt="написать в Instagram">
                                </a>
                                <a class="zoom-box me-2" title="написать в WhatsApp" href="whatsapp://send?phone=79095371096">
                                    <img src="{% static 'images/messagers/whatsApp_mono.svg' %}" width="35"
                                         alt="написать в WhatsApp">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!--end row-->
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-8">
                    <div class="text-sm-start">
                        <p class="mb-0">© 2012-
                            <script>document.write(new Date().getFullYear()) </script>
                            Рекламное агентство BTL+
                        </p>
                    </div>
                </div><!--end col-->
                <div class="col-sm-4 mt-4 mt-sm-0">

                </div>
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
