{% load static  %}
{% load cache %}

{% cache 604800 footer  %}
<footer class="bg-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="py-2">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                                    <img src="/assets/images/client/JTL.svg" class="avatar avatar-ex-sm" alt="Japan Tobacco">
                                </div><!--end col-->

                                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                                    <img src="/assets/images/client/cast.svg" class="avatar avatar-ex-sm" alt="Castorama">
                                </div><!--end col-->

                                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                                    <img src="/assets/images/client/city.svg" class="avatar avatar-ex-sm" alt="ситилинк">
                                </div><!--end col-->

                                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                                    <img src="/assets/images/client/PM.svg" class="avatar avatar-ex-sm" alt="Philip Morris">
                                </div><!--end col-->

                                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                                    <img src="/assets/images/client/svetofor.svg" class="avatar avatar-ex-sm" alt="Светофор">
                                </div><!--end col-->

                                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                                    <img src="/assets/images/client/deng.svg" class="avatar avatar-ex-sm" alt="Деньга">
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="footer-py-4 footer-bar">
                <div class="container text-center">
                    <div class="row align-items-center justify-content-center mb-2">
                        <div class="col-sm-4">
                            <div class="text-sm-start mb-2">
                                <h5>Заказать промо акцию</h5>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-primary box-1">
                                        <a class="fw-bold" style="color: #5D7092;" type="button" href="javascript:void(0)"
                                           data-bs-toggle="modal" data-bs-target="#contactform">Написать нам
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!--end col-->
                        <div class="col-sm-4">
                            <div class="text-sm-start mb-2">
                                <h5>Работа промоутером</h5>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-primary box-1">
                                        <a class="fw-bold" style="color: #5D7092;" href="javascript:void(0)"
                                           data-bs-toggle="modal" data-bs-target="#hh_form">Отправить резюме
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-sm-start mb-2">
                                <h5>Проводим BTL-акции:</h5>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-primary box-1">
                                        <a class="fw-bold" style="color: #5D7092;"  href="javascript:void(0)" data-bs-toggle="modal"
                                           data-bs-target="#regions">в городах России и Казахстана
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end row-->
                    <div class="row align-items-center justify-content-center mb-2">
                        <div class="col-sm-4">
                            <div class="text-sm-start mb-2">
                                <h5>Услуги BTL-агентства:</h5>
                                <ul class="list-group box-1">
                                    <li class="list-group-item list-group-item-primary box-1">Организация event-мероприятий
                                    </li>
                                    <li class="list-group-item list-group-item-primary"> Промоутеры, хостес, аниматоры
                                    </li>
                                    <li class="list-group-item list-group-item-primary"> Консультация и дегустация
                                    </li>
                                    <li class="list-group-item list-group-item-primary"> Тайный покупатель

                                </ul>
                            </div>
                        </div><!--end col-->
                        <div class="col-sm-4">
                            <div class="text-sm-start mb-2">
                                <h5>Мы ищем:</h5>
                                <ul class="list-group box-1">
                                    <li class="list-group-item list-group-item-primary">промоутеров
                                    </li>
                                    <li class="list-group-item list-group-item-primary">аниматоров
                                    </li>
                                    <li class="list-group-item list-group-item-primary">диджеев
                                    </li>
                                    <li class="list-group-item list-group-item-primary">фотографов
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-sm-start ">
                                <h5>Контакты:</h5>
                                <ul class="list-group box-1">
                                    <li class="list-group-item list-group-item-primary  text-sm-end">
                                        +7 (909) 537 10-96
                                       <button class="btn" style="padding: 0 2px" title="скопировать телефон"
                                               id="copyPhoneBtnFooter"  value="btl-omsk@bk.ru">
                                           <i class="uil uil-copy"></i>
                                       </button>

                                    </li>
                                    <li class="list-group-item list-group-item-primary  text-sm-end">
                                        btl-omsk@bk.ru
                                        <button title="скопировать почту" class="btn" style="padding: 0 2px"
                                                id="copyMailBtnFooter" value="btl-omsk@bk.ru">
                                            <i class="uil uil-copy"></i>
                                        </button>
                                    </li>
                                    <li class="list-group-item list-group-item-primary py-2">
                                        <ul class="list-unstyled social-icon align-items-center text-sm-end foot-social-icon mb-0">
                                            <li class="list-inline-item">
                                                <a title="написать в Telegram" href="https://telegram.me/BTLplus" class="btn rounded">
                                                    <img src="/assets/images/messagers/Telegram_2.svg"
                                                         alt="telegram">
                                                </a></li>
                                            <li class="list-inline-item">
                                                <a title="написать в Viber" href="viber://chat?number=79095371096" class="btn rounded zoom-box">
                                                    <img src="/assets/images/messagers/Viber_2.svg" alt="viber">
                                                </a></li>
                                            <li class="list-inline-item">
                                                <a title="написать в Вконтакте" href="https://vk.com/btl55omsk" class="btn rounded zoom-box">
                                                    <img src="/assets/images/messagers/VK_2.svg" width="50"
                                                         height="50" alt="vk">
                                                </a></li>
                                            <li class="list-inline-item">
                                                <a title="написать в WhatsApp" href="whatsapp://send?phone=79095371096" class="btn rounded zoom-box">
                                                    <img src="/assets/images/messagers/WhatsApp_2.svg"
                                                         alt="WhatsApp">
                                                </a></li>
                                            <li class="list-inline-item">
                                                <a title="написать в Instagram" href="https://instagram.com/dashylinkaa?igshid=ZDdkNTZiNTM="
                                                   class="btn rounded zoom-box">
                                                    <img src="/assets/images/messagers/instagram_2.svg" width="50"
                                                         height="50" alt="instagram">
                                                </a></li>
                                        </ul><!--end icon-->
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div><!--end row-->
                     <div class="row align-items-center justify-content-center">
                        <div class="col-sm-8">
                            <div class="text-sm-start">
                                <p class="mb-0">© 2012-<script>document.write(new Date().getFullYear())</script>Рекламное агентство BTL+</p>
                            </div>
                        </div><!--end col-->
                        <div class="col-sm-4 mt-4 mt-sm-0">

                        </div>
                    </div><!--end row-->
                </div><!--end container-->
            </div>
        </footer><!--end footer-->
{% endcache %}