<section class="section" id="portfolio">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-center mb-4 pb-2">
                            <h2 class="modal-title mb-3" style="color:#5A6D90">Наши кейсы</h2>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                            <div class="card-body p-0">
                                <img src="/assets/images/ipromouter/project_1.jpg" class="img-fluid" alt="work-image">
                                <div class="overlay-work bg-dark"></div>
                                <div class="content">
                                    <h6 class="mb-0">
                                        <span class="text-white title">Ростовая кукла
                                        </span>
                                    </h6>
                                    <p class="text-light tag mb-0"></p>
                                </div>
                                <div class="icons text-center">
                                    <a href="/assets/images/ipromouter/project_1.jpg" class="btn btn-icon btn-pills lightbox">
                                        <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                            <div class="card-body p-0">
                                <img src="/assets/images/ipromouter/project_2.jpg" class="img-fluid" alt="Консультация">
                                <div class="overlay-work bg-dark">Консультация</div>
                                <div class="content">
                                    <h6 class="mb-0">
                                        <span class="text-white title">Консультация
                                        </span>
                                    </h6>
                                    <p class="text-light tag mb-0"></p>
                                </div>
                                <div class="icons text-center">
                                    <a href="/assets/images/ipromouter/project_2.jpg" class="btn btn-icon btn-pills lightbox">
                                        <i data-feather="camera" class="fea icon-sm image-icon">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                            <div class="card-body p-0">
                                <img src="/assets/images/ipromouter/project_3.jpg" class="img-fluid" alt="Семплинг">
                                <div class="overlay-work bg-dark"></div>
                                <div class="content">
                                    <h6 class="mb-0">
                                        <span class="text-white title">Семплинг
                                        </span>
                                    </h6>
                                    <p class="text-light tag mb-0"></p>
                                </div>
                                <div class="icons text-center">
                                    <a href="/assets/images/ipromouter/project_3.jpg" class="btn btn-icon btn-pills lightbox">
                                        <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                            <div class="card-body p-0">
                                <img src="/assets/images/ipromouter/project_4.jpg" class="img-fluid" alt="Промодели">
                                <div class="overlay-work bg-dark"></div>
                                <div class="content">
                                    <h6 class="mb-0"><a href="" class="text-white title">Промомодели на выставке</a></h6>
                                    <p class="text-light tag mb-0"></p>
                                </div>
                                <div class="icons text-center">
                                    <a href="/assets/images/ipromouter/project_4.jpg" class="btn btn-icon btn-pills lightbox">
                                        <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                            <div class="card-body p-0">
                                <img src="/assets/images/ipromouter/project_5.png" class="img-fluid" alt="work-image">
                                <div class="overlay-work bg-dark"></div>
                                <div class="content">
                                    <h6 class="mb-0">
                                        <span class="text-white title">Хостесс
                                        </span>
                                    </h6>
                                    <p class="text-light tag mb-0"></p>
                                </div>
                                <div class="icons text-center">
                                    <a href="/assets/images/ipromouter/project_5.png" class="btn btn-icon btn-pills lightbox">
                                        <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                            <div class="card-body p-0">
                                <img src="/assets/images/ipromouter/project_6.jpg" class="img-fluid" alt="Аниматоры">
                                <div class="overlay-work bg-dark"></div>
                                <div class="content">
                                    <h6 class="mb-0">
                                        <span class="text-white title">Аниматоры
                                    </span>
                                    </h6>
                                    <p class="text-light tag mb-0">Организация праздника
                                    </p>
                                </div>
                                <div class="icons text-center">
                                    <a href="/assets/images/ipromouter/project_6.jpg" class="btn btn-icon btn-pills lightbox">
                                        <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                            <div class="card-body p-0">
                                <img src="/assets/images/ipromouter/project_7.jpg" class="img-fluid" alt="work-image">
                                <div class="overlay-work bg-dark"></div>
                                <div class="content">
                                    <h6 class="mb-0">
                                        <span class="text-white title">Анитматоры
                                    </span>
                                    </h6>
                                    <p class="text-light tag mb-0">Раздача воздушных шаров</p>
                                </div>
                                <div class="icons text-center">
                                    <a href="/assets/images/ipromouter/project_7.jpg" class="btn btn-icon btn-pills lightbox">
                                        <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card border-0 project project-primary position-relative d-block overflow-hidden rounded">
                            <div class="card-body p-0">
                                <img src="/assets/images/ipromouter/project_8.jpg" class="img-fluid" alt="Дегустация и промодели">
                                <div class="overlay-work bg-dark"></div>
                                <div class="content">
                                    <h6 class="mb-0">
                                        <span class="text-white title">Дегустация и промодели
                                    </span>
                                    </h6>
                                    <p class="text-light tag mb-0"></p>
                                </div>
                                <div class="icons text-center">
                                    <a href="/assets/images/ipromouter/project_8.jpg" class="btn btn-icon btn-pills lightbox">
                                        <i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->