<section class="section px-3" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title my-2 pb-2 text-center">
                    <h4 class="mb-3 title" style="color: #5a6d90;">Основные направления BTL-кампаний
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 mt-2 pt-2">
                <nav class="mx-2">
                    <div class="row justify-content-lg-center justify-content-md-start nav nav-pills nav-tabs sticky-top text-dark" id="nav-tab" role="tablist">
                        <button
                            aria-controls="nav-home"
                            aria-selected="true"
                            class="active align-items-center border border-opacity-75 col-lg-2 col-md-12 nav-link nav-link-service py-3 ps-3 rounded"
                            data-bs-target="#promo"
                            data-bs-toggle="tab"
                            id="promo-tab"
                            role="tab"
                            type="button">
                            <span title="Промо акции">Промо акции</span>
                            <!--   class="badge lh-lg text-wrap text-uppercase" -->
                        </button>
                        <button
                            aria-controls="nav-contact"
                            aria-selected="false"
                            class="col-md-12 align-items-center border border-opacity-75 col-lg-2 nav-link nav-link-service ps-3 rounded"
                            data-bs-target="#polygraph"
                            data-bs-toggle="tab"
                            id="polygraph-tab"
                            role="tab"
                            type="button">
                            <span title="Полиграфия">Полиграфия</span>

                        </button>
                        <button
                            aria-controls="nav-contact"
                            aria-selected="false"
                            class="col-md-12 align-items-center border border-opacity-75 col-lg-2 nav-link nav-link-service py-3 ps-3 rounded"
                            data-bs-target="#adv-equipment"
                            data-bs-toggle="tab"
                            id="adv-equipment-tab"
                            role="tab"
                            type="button">
                            <span title="Рекламные конструкции">Рекламные конструкции</span>
                        <!--   class="badge lh-lg text-wrap text-uppercase" -->
                        </button>
                        <button
                            aria-controls="nav-contact"
                            aria-selected="false"
                            class="col-md-12 align-items-center border border-opacity-75 col-lg-2 nav-link nav-link-service py-3 ps-3 rounded"
                            data-bs-target="#decor"
                            data-bs-toggle="tab"
                            id="decor-tab"
                            role="tab"
                            type="button">
                            <span title="Праздничное оформление">Праздничное оформление</span>
                        </button>
                        <button
                            aria-controls="nav-contact"
                            aria-selected="false"
                            class="col-md-12 align-items-center border border-opacity-75 col-lg-2 nav-link nav-link-service py-3 ps-3 rounded"
                            data-bs-target="#social"
                            data-bs-toggle="tab"
                            id="social-tab"
                            role="tab"
                            type="button">
                            <span title="Социологическое исследование">Социологическое исследование</span>
                        </button>
                        <button
                            aria-controls="nav-contact"
                            aria-selected="false"
                            class="col-md-12 align-items-center border border-opacity-75 col-lg-2 nav-link nav-link-service py-3 ps-3 rounded"
                            data-bs-target="#hr"
                            data-bs-toggle="tab"
                            id="hr-tab"
                            role="tab"
                            type="button">
                            <span title="Подбор и работа с персоналом">Подбор и работа с персоналом</span>
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="active fade show tab-pane" id="promo" role="tabpanel" aria-labelledby="promo-tab" tabindex="0">
                        <div class="container">
                            <div style="background: url(/assets/images/map.png) center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="carousel carousel-fade slide" id="carouselExampleSlidesOnly_1" data-bs-ride="carousel">
                                            <div class="carousel-inner" >
                                                <div class="carousel-item active">
                                                    <img alt="Промо акция. Дегустация"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/promo/promo_1_webp-800x600.webp"
                                                         src=/assets/images/services/promo/promo_1_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Промо акции.Семплинг"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/promo/promo_2_webp-800x600.webp"
                                                         src=/assets/images/services/promo/promo_2_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Промо акции.Консультация покупателя"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/promo/promo_3_webp-800x600.webp"
                                                         src=/assets/images/services/promo/promo_3_jpg-800x600.jpg></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mt-sm-0 pt-2 pt-sm-0 mt-1">
                                        <h4 class="mb-3 title text-start" title="Промо акции">Промо акции</h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5 title="Листовки"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Листовки</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Организация праздников event-мероприятий выставок открытий корпоративов">
                                                        <i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Организация праздников, event-мероприятий, выставок, открытий, корпоративов
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="HoReCa"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> HoReCa</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Промо-модели аниматоры ростовая кукла"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Промо-модели, аниматоры, ростовая кукла</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title=" Ведущие  диджеи"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Ведущие, диджеи</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Супервайзер"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Супервайзер</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Дегустация"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Дегустация</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Хостесс и консультация"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Хостесс и консультация</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Сэмплинг и подарок за покупку"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Сэмплинг и подарок за покупку</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Тайный покупатель"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Тайный покупатель</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Мерчандайзинг"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Мерчандайзинг</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fade tab-pane" id="polygraph" role="tabpanel" aria-labelledby="polygraph-tab" tabindex="0">
                        <div class="container">
                            <div style="background: url(/assets/images/map.png) center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="carousel carousel-fade slide" id="carouselExampleSlidesOnly_3" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img class="d-block w-100 rounded-5 vignette" alt="Печать на воздушных шарах"
                                                         srcset="/assets/images/services/poligrafia/polugrafia_1_webp-800x600.webp"
                                                         src=/assets/images/services/poligrafia/polugrafia_1_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img class="d-block w-100 rounded-5 vignette" alt="Кацелярские товары с логотипом"
                                                          srcset="/assets/images/services/poligrafia/polugrafia_2_webp-800x600.webp"
                                                         src=/assets/images/services/poligrafia/polugrafia_2_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img class="d-block w-100 rounded-5 vignette" alt="Мерчандайзинг"
                                                         srcset="/assets/images/services/poligrafia/polugrafia_3_webp-800x600.webp"
                                                         src=/assets/images/services/poligrafia/polugrafia_3_jpg-800x600.jpg></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mt-sm-0 pt-2 pt-sm-0 mt-1">
                                        <h4 class="mb-3 title text-start" title="Полиграфия">Полиграфия</h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5 title="Печать листовок"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Печать листовок</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Сувенирная продукция"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Сувенирная продукция</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Офсетная печать"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Офсетная печать</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Печать на воздушных шарах  кружках футболках"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Печать на воздушных шарах, кружках, футболках</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="POS-материалы"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> POS-материалы</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Трейд-маркетинг"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Трейд-маркетинг</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fade tab-pane" id="adv-equipment" role="tabpanel" aria-labelledby="adv-equipment-tab" tabindex="0">
                        <div class="container">
                            <div style="background: url(/assets/images/map.png) center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="carousel carousel-fade slide" id="carouselExampleSlidesOnly_4" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img alt="Лайтбоксы" class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/equipment/equiment_3_webp-800x600.webp"
                                                         src=/assets/images/services/equipment/equiment_3_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Лайтбоксы" class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/equipment/equiment_2_webp-800x600.webp"
                                                         src=/assets/images/services/equipment/equiment_2_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Лайтбоксы" class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/equipment/equiment_1_webp-800x600.webp"
                                                         src=/assets/images/services/equipment/equiment_1_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Лайтбоксы" class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/equipment/equiment_4_webp-800x600.webp"
                                                         src=/assets/images/services/equipment/equiment_4_jpg-800x600.jpg></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mt-sm-0 pt-2 pt-sm-0 mt-1">
                                        <h4 class="mb-3 title text-start" title=" Монтаж и производство рекламных конструкций и оборудования">
                                            Монтаж и производство<br />
                                            рекламных конструкций и оборудования
                                        </h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5 title="POS-материалы"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> POS-материалы</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Лайтбоксы"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Лайтбоксы</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Брендирование"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Брендирование</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Мерчандайзинг на воздушных шарах кружках и одежде"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Мерчандайзинг на воздушных шарах, кружках и одежде</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fade tab-pane" id="decor" role="tabpanel" aria-labelledby="decor-tab" tabindex="0">
                        <div class="container">
                            <div style="background: url(/assets/images/map.png) center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="carousel carousel-fade slide" id="carouselExampleSlidesOnly_5" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img alt="Праздничное оформление"

                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/decor/decor_1_webp-800x600.webp"
                                                         src=/assets/images/services/decor/decor_1_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Праздничное оформление"

                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/decor/decor_2_webp-800x600.webp"
                                                         src=/assets/images/services/decor/decor_2_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Праздничное оформление"

                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/decor/decor_3_webp-800x600.webp"
                                                         src=/assets/images/services/decor/decor_3_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Праздничное оформление"

                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/decor/decor_4_webp-800x600.webp"
                                                         src=/assets/images/services/decor/decor_4_jpg-800x600.jpg></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mt-sm-0 pt-2 pt-sm-0 mt-4">
                                        <h4 class="mb-3 title text-start" title="Праздничное оформление">Праздничное оформление</h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5 title="Фотозоны"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Фотозоны</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="печать моментальных фото"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Печать моментальных фото</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="тематическое декорирование"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Тематическое декорирование</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="световой декор"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Световой декор</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="воздушные шары"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Воздушные шары</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="гирлянды  из воздушных шаров"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Гирлянды из воздушных шаров</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="аренда аппарата сладкой ваты"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Аренда аппарата сладкой ваты</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fade tab-pane" id="social" role="tabpanel" aria-labelledby="social-tab" tabindex="0">
                        <div class="container">
                            <div style="background: url(/assets/images/map.png) center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="carousel carousel-fade slide" id="carouselExampleSlidesOnly_6" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img alt="Социологические исследования"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/anketa/anketa_1_webp-800x600.webp"
                                                         src=/assets/images/services/anketa/anketa_1_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Социологические исследования"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/anketa/anketa_2_webp-800x600.webp"
                                                         src=/assets/images/services/anketa/anketa_2_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Социологические исследования"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/anketa/anketa_3_webp-800x600.webp"
                                                         src=/assets/images/services/anketa/anketa_3_jpg-800x600.jpg></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mt-sm-0 pt-2 pt-sm-0 mt-4">
                                        <h4 class="mb-3 title text-start" title="Социологические исследования">Социологические исследования</h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5 title="Опрос"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Опрос</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Наблюдение"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Наблюдение</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Контент анализ"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Контент анализ</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Фокус группа"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Фокус группа</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fade tab-pane" id="hr" role="tabpanel" aria-labelledby="hr-tab" tabindex="0">
                        <div class="container">
                            <div style="background: url(/assets/images/map.png) center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="carousel carousel-fade slide" id="carouselExampleSlidesOnly_7" data-bs-ride="carousel">
                                            <div class="carousel-inner" >
                                                <div class="carousel-item active">
                                                    <img alt="Подбор и работа с персоналом"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/hr/hr_4_webp-800x600.webp"
                                                         src=/assets/images/services/hr/hr_4_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Подбор и работа с персоналом"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/hr/hr_2_webp-800x600.webp"
                                                         src=/assets/images/services/hr/hr_2_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Подбор и работа с персоналом"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/hr/hr_3_webp-800x600.webp"
                                                         src=/assets/images/services/hr/hr_3_jpg-800x600.jpg></div>
                                                <div class="carousel-item">
                                                    <img alt="Подбор и работа с персоналом"
                                                         class="d-block w-100 rounded-5 vignette"
                                                         srcset="/assets/images/services/hr/hr_1_webp-800x600.webp"
                                                         src=/assets/images/services/hr/hr_1_jpg-800x600.jpg></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mt-sm-0 pt-2 pt-sm-0 mt-4">
                                        <h4 class="mb-3 title text-start" title="Подбор и работа с персоналом">Подбор и работа с персоналом</h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5 title="Супервайзер"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Супервайзер</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Тайный покупатель"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Тайный покупатель</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Подборка кандидатов"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Подборка кандидатов</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Организация собеседования"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Организация собеседования</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Проверка профессиональных навыков кандидатов"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Проверка профессиональных навыков кандидатов</h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5 title="Разработка корпоративных стандартов"><i class="align-middle h5 me-2 text-primary uil uil-check-circle"></i> Разработка корпоративных стандартов</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
