<section class="section" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h2 title="основные напрвления BTL-кампаний" class="modal-title mb-1" style="color:#5A6D90">
                        основные напрвления BTL-кампаний
                    </h2>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-12 col-md-12 mt-2 pt-2">
                <nav class="mx-2">
                    <div class="row nav nav-tabs nav-pills justify-content-md-start justify-content-lg-center text-dark sticky-top"
                         id="nav-tab" role="tablist">
                        <button class="rounded-5 btn-outline-info mb-1  ps-3 col-lg-2 col-md-12   border  border-opacity-75 nav-link  align-items-center active" id="promo-tab"
                                data-bs-toggle="tab" data-bs-target="#promo" type="button"
                                role="tab" aria-controls="nav-home" aria-selected="true">
                            <img class="icon-service " src="/assets/images/icons/megaphone.png">
                            <span class="badge text-wrap text-uppercase lh-lg">Промоакции </span>
                        </button>
                        <button class="rounded-5 btn-outline-info mb-1  ps-3 col-lg-2 col-md-12   border  border-opacity-75 nav-link  align-items-center" id="polygraph-tab"
                                data-bs-toggle="tab" data-bs-target="#polygraph" type="button"
                                role="tab" aria-controls="nav-contact" aria-selected="false">
                            <img class="icon-service" src="/assets/images/icons/merchandise.png">
                            <span class="badge text-wrap text-uppercase lh-lg">Полиграфия </span>
                        </button>
                        <button class="rounded-5 btn-outline-info mb-1  ps-3 col-lg-2 col-md-12   border  border-opacity-75 nav-link  align-items-center" id="adv-equipment-tab"
                                data-bs-toggle="tab" data-bs-target="#adv-equipment" type="button"
                                role="tab" aria-controls="nav-contact" aria-selected="false">
                            <img class="icon-service" src="/assets/images/icons/stand.png">
                            <span class="badge text-wrap text-uppercase lh-lg">Рекламные конструкций </span>
                        </button>
                        <button class="rounded-5 btn-outline-info mb-1  ps-3 col-lg-2 col-md-12   border  border-opacity-75 nav-link  align-items-center" id="decor-tab"
                                data-bs-toggle="tab" data-bs-target="#decor" type="button"
                                role="tab" aria-controls="nav-contact" aria-selected="false">
                            <img class="icon-service" src="/assets/images/icons/balloons.png">
                            <span class="badge text-wrap text-uppercase lh-lg">Праздничное  оформление</span>
                        </button>
                        <button class="rounded-5 btn-outline-info mb-1  ps-3 col-lg-2 col-md-12   border  border-opacity-75 nav-link  align-items-center" id="social-tab"
                                data-bs-toggle="tab" data-bs-target="#social" type="button"
                                role="tab" aria-controls="nav-contact" aria-selected="false">
                            <img class="icon-service" src="/assets/images/icons/checklist.png"><br>
                            <span class="badge text-wrap text-uppercase lh-lg">Социологическое исследование</span>
                        </button>
                        <button class="rounded-5 btn-outline-info mb-1  ps-3 col-lg-2 col-md-12   border  border-opacity-75 nav-link  align-items-center" id="hr-tab"
                                data-bs-toggle="tab" data-bs-target="#hr" type="button"
                                role="tab" aria-controls="nav-contact" aria-selected="false">
                            <img class="icon-service" src="/assets/images/icons/headhunting.png">
                            <span class="badge text-wrap text-uppercase lh-lg"> Подбор и работа с персоналом</span>

                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="promo" role="tabpanel" aria-labelledby="promo-tab"
                         tabindex="0">
                        <div class="container">
                            <div style="background: url('/assets/images/map.png') center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div id="carouselExampleSlidesOnly_1" class="carousel slide carousel-fade"
                                             data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class=" carousel-item active">
                                                    <img src="/assets/images/services/promo/promo_1.jpg"
                                                         class="vignette rounded-5 d-block w-100"
                                                         alt="...">
                                                </div>
                                                <div class=" carousel-item">
                                                    <img src="/assets/images/services/promo/promo_2.jpg"
                                                         class="vignette rounded-5 d-block w-100"
                                                         alt="...">
                                                </div>
                                                <div class=" carousel-item">
                                                    <img src="/assets/images/services/promo/promo_3.jpg"
                                                         class="vignette rounded-5 d-block w-100"
                                                         alt="...">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-md-6 mt-1 pt-2 mt-sm-0 pt-sm-0">
                                        <h4 class="title text-start mb-3">Промоакция
                                        </h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Листовки
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Организация праздников, event-мероприятий, выставок, открытий,
                                                        корпоративов
                                                    </h5>
                                                </li>

                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        HoReCa
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Промо-модели, аниматоры, ростовая кукла
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Ведущие, диджеи
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Супервайзер
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Дегустация
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Хостесс и консультация
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Сэмплинг и подарок за покупку
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Тайный покупатель
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Мерчендайзинг
                                                    </h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div><!--end container-->
                    </div>
                    <div class="tab-pane fade" id="polygraph" role="tabpanel" aria-labelledby="polygraph-tab"
                         tabindex="0">
                        <div class="container">
                            <div style="background: url('/assets/images/map.png') center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div id="carouselExampleSlidesOnly_3" class="carousel slide carousel-fade"
                                                 data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img src="/assets/images/services/poligrafia/polugrafia_1.jpg"
                                                             class="vignette rounded-5 d-block w-100" alt="...">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="/assets/images/services/poligrafia/polugrafia_2.jpg"
                                                             class="vignette rounded-5 d-block w-100" alt="...">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="/assets/images/services/poligrafia/polugrafia_3.jpg"
                                                             class="vignette rounded-5 d-block w-100" alt="...">
                                                    </div>
                                                </div>
                                            </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-md-6 mt-1 pt-2 mt-sm-0 pt-sm-0">
                                        <h4 class="title text-start mb-3">Полиграфия
                                        </h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                 <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    Печать листовок
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    Сувенирная продукция
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    Офсетная печать
                                                    </h5>
                                                </li>
                                                 <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    Печать на воздушных шарах, кружках, футболках
                                                    </h5>
                                                </li>
                                                 <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    POS-материалы
                                                    </h5>
                                                </li>
                                                 <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    Трейд-маркетинг
                                                    </h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div><!--end container-->
                    </div>
                    <div class="tab-pane fade" id="adv-equipment" role="tabpanel" aria-labelledby="adv-equipment-tab"
                         tabindex="0">
                        <div class="container">
                            <div style="background: url('/assets/images/map.png') center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div id="carouselExampleSlidesOnly_4" class="carousel slide carousel-fade"
                                             data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="/assets/images/services/equipment/equiment_3.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/equipment/equiment_2.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/equipment/equiment_1.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/equipment/equiment_4.jpg"
                                                         class="d-block w-100" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-6 col-md-6 mt-1 pt-2 mt-sm-0 pt-sm-0">
                                        <h4 class="title text-start mb-3">
                                            Монтаж и производство <br> рекламных конструкций и оборудования
                                        </h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    POS-материалы
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    Лайт боксы
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    Брендирование
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                    <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                    Мерчендайзинг на воздушных шарах, кружках и одежде
                                                    </h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div><!--end container-->
                    </div>
                    <div class="tab-pane fade" id="decor" role="tabpanel" aria-labelledby="decor-tab" tabindex="0">
                        <div class="container">
                            <div style="background: url('/assets/images/map.png') center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div id="carouselExampleSlidesOnly_5" class="carousel slide carousel-fade"
                                             data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="/assets/images/services/decor/decor_1.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/decor/decor_2.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/decor/decor_3.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/decor/decor_4.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                        <h4 class="title text-start mb-3">Праздничное  оформление
                                        </h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Фотозоны
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        печать моментальных фото
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        тематическое декорирование
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        световой декор
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        воздушные шары
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        гирлянды  из воздушных шаров
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        аренда аппарата сладкой ваты
                                                    </h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div><!--end container-->
                    </div>
                    <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab" tabindex="0">
                        <div class="container">
                            <div style="background: url('/assets/images/map.png') center center;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div id="carouselExampleSlidesOnly_6" class="carousel slide carousel-fade"
                                             data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="/assets/images/services/anketa/anketa_1.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/anketa/anketa_2.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/anketa/anketa_3.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                        <h4 class="title text-start mb-3">Социалистические исследования
                                        </h4>
                                        <div class="section-title">
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Опрос
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Наблюдение
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                       Контент анализ
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                       Фокус группа
                                                    </h5>
                                                </li>
                                            </ul>

                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div><!--end container-->
                    </div>
                    <div class="tab-pane fade" id="hr" role="tabpanel" aria-labelledby="hr-tab" tabindex="0">
                        <div class="container">
                            <div style="background: url('/assets/images/map.png') center center;">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6">
                                        <div id="carouselExampleSlidesOnly_7" class="carousel slide carousel-fade"
                                             data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="/assets/images/services/hr/hr_4.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/hr/hr_2.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/hr/hr_3.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/services/hr/hr_1.jpg"
                                                         class="vignette rounded-5 d-block w-100" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                        <h4 class="title text-start mb-3">Подбор и работа с персоналом
                                        </h4>
                                        <div class="section-title">
                                            <p>
                                                Открытие нового филиалов, текучка кадров, плановые перестановки?
                                                Подбираем нужных кандидатов, организуем собеседования,
                                                проверяем их профессиональные навыки на соответствие требованиям
                                                компании,
                                                а также разрабатываем корпоративные стандарты.
                                            </p>
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Супервайзер
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Тайный покупатель
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Подборка кандидатов
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Организация собеседования
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Проверка профессиональных навыков кандидатов
                                                    </h5>
                                                </li>
                                                <li class="mb-1">
                                                    <h5>
                                                        <i class="uil uil-check-circle align-middle text-primary h5 me-2"></i>
                                                        Разработка корпоративных стандартов
                                                    </h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div><!--end container-->
                    </div>
                </div>
            </div><!--end row-->
        </div><!--end container-->
    </div>
</section>



<!-- MODALS -->
<div class="modal fade" id="decor_window" aria-hidden="true" aria-labelledby="омск_label" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="decor_label">Праздничное  оформление</h5>
                <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i class="uil uil-times fs-4"></i>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center"
                 style="background: url('/assets/images/services/decor/decor_1.jpg')" >
                <p class="p-4 rounded" style="background: white;
                    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;">
                    оформление фотозон, декорирование Воздушный, цветной, различной формы декор дает подсознательную
                    команду человеку обратить внимание на происходящие события, ведь происходит что-то интересное праздничное и
                    веселое. Вот именно этот момент психологии личности человека необходимо использовать при организации
                    мероприятий</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="hr_window" aria-hidden="true" aria-labelledby="омск_label" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hr_label">Подбор и работа с персоналом</h5>
                <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i class="uil uil-times fs-4"></i>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <p class="p-4 rounded" style="background: white;
                    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;">
                    HR поиск, отбор, обучение, адаптация, мотивация, обучение, персонала
                    Открытие нового филиалов, текучка кадров, плановые перестановки?
                    Подбираем нужных кандидатов, организуем собеседования, пироверяем их
                    профессиональные навыки на соответствие требованиям компании,
                    а также разрабатываем корпоративные стандарты.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="promo_window" aria-hidden="true" aria-labelledby="омск_label" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="омск_label">HORECA</h5>
                <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i class="uil uil-times fs-4"></i>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-12">
                            <p class="p-4 rounded" style="background: white;
                    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;">
                                Направление HoReCa К упаковки и проходит несколько стадий преобразований. Дополняем это
                                все
                                мастерством обслуживающего персонала, креативная подача шеф-поваров, уютный дизайн - это
                                всё придает
                                ценность продукту.
                                Одно из направления Хорека представляет собой проведение и организация массовых
                                промоакций и
                                рекламных мероприятий, так как конкуренция возросла за последние 10 лет, то приходиться
                                о себе
                                напоминать, да бы поддерживать свое имя на рынке сбыта. Как показывает практика, для
                                этого
                                изготавливают рекламные конструкции, которые используют для привлечения внимания. Можно
                                разработать
                                рекламные витрины, разложить рекламные печатные материалы на столы, установить лайтбокс
                                на входе
                                заведения. Особенность таких акций HoReCa в том, что проводится акция непосредственно в
                                том месте,
                                где отдыхает клиент (рестораны, клубы, бары</p>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <img class="img-fluid rounded" src="/assets/images/services/promo/horeca.jpg">
                              <img class="img-fluid rounded" src="/assets/images/services/promo/horeca_2.jpg">
                            <img class="img-fluid rounded" src="/assets/images/services/promo/horeca_3.jpg">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>